{% load static %}
{% block sidebar %}
		<!-- ========== Left Sidebar Start ========== -->
		<div class="vertical-menu">
			<div data-simplebar class="h-100">
				<!--- Sidemenu -->
				<div id="sidebar-menu">
					<!-- Left Menu Start -->
					<ul class="metismenu list-unstyled" id="side-menu">
						<li class="menu-title" key="t-menu">Menu</li>
						<li>
							<a href="{% url 'dashboard' %}" class="waves-effect"> <i class="ri-dashboard-line"></i>
								<!-- <span class="badge rounded-pill bg-success float-end">3</span> -->
								<span key="t-dashboards">Dashboard</span>
							</a>
						</li>
						<li>
							<a href="{% url 'realtime' %}" class="waves-effect"> <i class="ri-stack-line"></i>
								<!-- <span class="badge rounded-pill bg-success float-end">3</span> -->
								<span key="t-flot-charts">Other Statistics</span>
							</a>
						</li>	
						<li>
							<a href="{% url 'realtime' %}" class="waves-effect"> <i class="ri-lightbulb-line"></i>
								<!-- <span class="badge rounded-pill bg-success float-end">3</span> -->
								<span key="t-flot-charts">About Us</span>
							</a>
						</li>	
					</ul>
				</div>
				<!-- Sidebar -->
			</div>
		</div>
		<!-- Left Sidebar End -->
{% endblock sidebar %}